/*Box Model*/ 
body{
    background: linear-gradient(to bottom, rgba(255, 238, 0,.6), rgba(255, 255, 255, 0)); 
    font-size: 1.25em;
    font-family: "Lato", sans-serif;
}
#title{
    color: rgba(0, 0, 0, 0.314);    
    font-family: "Sarabun", sans-serif;
}

#service-image{
    height: 400px;
    width: 40%;
    background: rgba(106, 176, 45, 0.305);
    border: 2px dashed black;
    
}

.subtitle{
    color: rgba(329, 168, 50, .5);
    font-family: "Sarabun", sans-serif;
}
.italic{
    font-style: oblique;
} 
#about-me-image{
height: 300p;
width: 60vw;
}