/* HowToBlocks
    selector {
    property: value;
    property2: value;
} */
/* Color types


*/ 
body{
    background: linear-gradient(to bottom, rgba(255, 238, 0,.6), rgba(255, 255, 255, 0)); 
}
#title{
    color: rgba(0, 0, 0, 0.314);
}

.subtitle{
    color: rgba(329, 168, 50, .5);
}

#service-image{
    height: 400px;
    width: 70%;



}
